<div class="container ">
  <div class="row ">
    <div class="card col-8">
        <div class="form-group">
          <button class="btn btn-info" (click)="edit()">update</button>

          <div class="form-check" *ngFor="let data of object">
            <input class="form-check-input"  (click)="getvalue(id)" name="1" #id type="radio" [value]="data['lead_id']">
            <label class="form-check-label" for="gridCheck">
              {{data['first_name']}}
            </label>
          </div>
        </div>

    </div>
  </div>

</div>
